## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mount Isa,AU,-20.7333,139.5000,73.17,35,10,21.85,clear sky
1,1,Torbay,CA,47.6666,-52.7314,40.87,89,100,11.50,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,38.86,75,20,6.91,few clouds
3,3,Hurghada,EG,27.2574,33.8129,73.44,40,0,21.85,clear sky
4,4,Butaritari,KI,3.0707,172.7902,81.36,77,28,13.02,scattered clouds

In [3]:
city_data_df.describe()

,City ID,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
count,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000,703.000000
mean,351.000000,20.520727,19.071405,62.453058,70.560455,55.355619,7.922845
std,203.082906,32.354693,89.744162,19.099685,21.584960,40.156444,5.647035
min,0.000000,-54.800000,-179.166700,1.830000,1.000000,0.000000,0.000000
25%,175.500000,-6.178550,-59.473700,49.260000,59.000000,11.000000,3.610000
50%,351.000000,23.166700,25.321900,64.530000,76.000000,64.000000,6.460000
75%,526.500000,47.819000,100.344850,78.865000,87.000000,99.000000,11.475000
max,702.000000,78.218600,179.316700,94.800000,100.000000,100.000000,33.890000

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = int(input("Enter minimum desired temperature"))
min_temp

Enter minimum desired temperature70

70

In [6]:
max_temp = int(input("Enter maximum desired temperature"))
max_temp

Enter maximum desired temperature85

85

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
mask = (city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)
data2 = city_data_df.loc[mask]
data2

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mount Isa,AU,-20.7333,139.5000,73.17,35,10,21.85,clear sky
3,3,Hurghada,EG,27.2574,33.8129,73.44,40,0,21.85,clear sky
4,4,Butaritari,KI,3.0707,172.7902,81.36,77,28,13.02,scattered clouds
14,14,Praya,CV,14.9215,-23.5087,70.34,83,0,18.41,clear sky
15,15,Kilindoni,TZ,-7.9139,39.6668,79.50,75,49,18.43,light rain
...,...,...,...,...,...,...,...,...,...,...
685,685,Mukono,UG,0.3533,32.7553,71.35,96,100,2.53,light rain
688,688,San Ignacio,BZ,17.1561,-89.0714,84.34,74,40,6.91,scattered clouds
690,690,Nautla,MX,20.2167,-96.7833,80.04,86,3,14.07,clear sky
695,695,Byron Bay,AU,-28.6500,153.6167,78.94,70,41,10.40,scattered clouds
696,696,Bonthe,SL,7.5264,-12.5050,80.55,82,71,2.64,moderate rain

In [8]:
# 4a. Determine if there are any empty rows.
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
data2.dropna(how="any")

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mount Isa,AU,-20.7333,139.5000,73.17,35,10,21.85,clear sky
3,3,Hurghada,EG,27.2574,33.8129,73.44,40,0,21.85,clear sky
4,4,Butaritari,KI,3.0707,172.7902,81.36,77,28,13.02,scattered clouds
14,14,Praya,CV,14.9215,-23.5087,70.34,83,0,18.41,clear sky
15,15,Kilindoni,TZ,-7.9139,39.6668,79.50,75,49,18.43,light rain
...,...,...,...,...,...,...,...,...,...,...
685,685,Mukono,UG,0.3533,32.7553,71.35,96,100,2.53,light rain
688,688,San Ignacio,BZ,17.1561,-89.0714,84.34,74,40,6.91,scattered clouds
690,690,Nautla,MX,20.2167,-96.7833,80.04,86,3,14.07,clear sky
695,695,Byron Bay,AU,-28.6500,153.6167,78.94,70,41,10.40,scattered clouds
696,696,Bonthe,SL,7.5264,-12.5050,80.55,82,71,2.64,moderate rain

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = data2[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy().reset_index(drop=True)

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mount Isa,AU,73.17,clear sky,-20.7333,139.5000,
1,Hurghada,EG,73.44,clear sky,27.2574,33.8129,
2,Butaritari,KI,81.36,scattered clouds,3.0707,172.7902,
3,Praya,CV,70.34,clear sky,14.9215,-23.5087,
4,Kilindoni,TZ,79.50,light rain,-7.9139,39.6668,
5,Sola,VU,81.86,few clouds,-13.8833,167.5500,
6,Kloulklubed,PW,82.90,broken clouds,7.0419,134.2556,
7,Carutapera,BR,75.36,broken clouds,-1.1950,-46.0200,
8,Kulachi,PK,81.39,clear sky,31.9286,70.4592,
9,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for i, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    long = row["Lng"]
    
    params["location"] = f"{lat},{long}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    response = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[i, "Hotel Name"] = response["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...onward!")

Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!
Hotel not found...onward!

In [11]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mount Isa,AU,73.17,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
1,Hurghada,EG,73.44,clear sky,27.2574,33.8129,Sea Star Beau Rivage Hotel
2,Butaritari,KI,81.36,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
3,Praya,CV,70.34,clear sky,14.9215,-23.5087,LT Aparthotel
4,Kilindoni,TZ,79.50,light rain,-7.9139,39.6668,Bustani B&B
...,...,...,...,...,...,...,...
241,Mukono,UG,71.35,light rain,0.3533,32.7553,Vegas Motel
242,San Ignacio,BZ,84.34,scattered clouds,17.1561,-89.0714,Rainforest Haven Inn
243,Nautla,MX,80.04,clear sky,20.2167,-96.7833,Casa Blanca
244,Byron Bay,AU,78.94,scattered clouds,-28.6500,153.6167,Backpackers Inn
245,Bonthe,SL,80.55,moderate rain,7.5264,-12.5050,Bonthe Holiday Village

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace("", np.nan, inplace=True)
hotel_df.dropna(subset=["Hotel Name"], inplace=True)
hotels_final_df = hotel_df

In [13]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mount Isa,AU,73.17,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
1,Hurghada,EG,73.44,clear sky,27.2574,33.8129,Sea Star Beau Rivage Hotel
2,Butaritari,KI,81.36,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
3,Praya,CV,70.34,clear sky,14.9215,-23.5087,LT Aparthotel
4,Kilindoni,TZ,79.50,light rain,-7.9139,39.6668,Bustani B&B
...,...,...,...,...,...,...,...
241,Mukono,UG,71.35,light rain,0.3533,32.7553,Vegas Motel
242,San Ignacio,BZ,84.34,scattered clouds,17.1561,-89.0714,Rainforest Haven Inn
243,Nautla,MX,80.04,clear sky,20.2167,-96.7833,Casa Blanca
244,Byron Bay,AU,78.94,scattered clouds,-28.6500,153.6167,Backpackers Inn
245,Bonthe,SL,80.55,moderate rain,7.5264,-12.5050,Bonthe Holiday Village

In [14]:
# 8a. Create the output File (CSV)
save_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotels_final_df.to_csv(save_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotels_final_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotels_final_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))